@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.card {
  max-width: 400px;
  min-width: 398px;
  height: 100%;
  background-color: #F8FBFE;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  border-radius: 20px !important;
  position: relative;
}

.tools {
  display: flex;
  z-index: 999;
  align-items: center;
}


.box {
  display: inline-block;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  user-select: none;
  cursor: pointer;
  padding: 1px;
  border-radius: 50%;
}
.circle {
  padding: 0 4px;
}

.red {
  padding: 3px;
  background-color: #ff605c;
}

.yellow {
  padding: 3px;
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
  padding: 3px;
}
